<div class="home_container">
  <div class="columns is-centered is-vcentered">
    <div class="column is-one-quarter has-text-centered">
      <div class="block has-text-centered">
        <%= image_tag("cinema.png", class: 'image is-128x128 is-inline-block')%>
      </div>
      <div class="block has-text-centered">
        <%=link_to "Registrar película", "/movie/new", class: "button is-rounded is-link" %>
      </div>
      <div class="block has-text-centered">
        <%=link_to "Ver productos", products_path, class: "button is-rounded is-link" %>
      </div>
    </div>
    <div class="column is-one-fifth"></div>
    <div class="column is-one-quarter has-text-centered">
      <p class="title is-5">Crear una reserva</p>
      <%= form_with url: movies_by_date_path, method: :get do |form| %>
        <div>
          <div class="field is-horizontal">
            <div class="field-label is-medium">
              <%= form.label :query, "Día: ", class: 'label' %>
            </div>
            <%= form.date_field :date , class: 'input', required: 'required', min: Date.today, id: 'find_date'%>
          </div>

          <div class="field is-horizontal">
           <h3>¿Tienes +18?</h3>
            <%= form.check_box :adult, class: 'checkbox', id: 'check_adult'%>
          </div>
          <div class="field is-horizontal">
            Elige el lenguaje: <%= "   "%> <%=form.select :language, ['SPANISH', 'ENGLISH'], class: 'select', id: 'language'%>
          </div>
          <div class="field is-horizontal">
            Elige la ubicación: <%= form.select :location, ['SANTIAGO', 'REGIONAL'], class: 'select', id: 'location'%>
          </div>
          <%= form.submit "Buscar" , class: "button is-rounded is-link", id: 'search'%>
      <% end %>

    </div>
  </div>
</div>
