<div id="<%= dom_id product %>">
  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= product.category %>
  </p>

  <p>
    <strong>Weight (g.):</strong>
    <%= product.weight %>
  </p>

  <p>
    <strong>Volume: (cc.):</strong>
    <%= product.volume %>
  </p>

</div>
